/* ------------RESPONSIVE STYLE------------ */


     /* accordian */ 
     .main_menu_wrapper .accordion-body{
         padding:2.25rem;
     }
 
 
 @media (max-width:992px) {
 
     /* custom css */
     h1{
         font-size: 3.125rem;
         line-height: 1.3;
     } 
     h2{
         font-size: 1.875rem;
     }
     h3{
         font-size: 1.25rem;
     }
     a{
         font-size: 1rem;
     }
     .icon-design{
         width:4.625rem;
         height:4.625rem;
     } 
 
 }
 
 @media (max-width: 767px) {
 
     /* custom css */ 
     h1{
         font-size: 1.875rem;
     }
     h2{
         font-size: 1.25rem;
     }
     h3{
         font-size: 1.125rem;
     }
    

     h5{
         font-size: .9375rem;
     }
     p{
         font-size: .875rem;
     } 
 
     /* resume */ 
     .resume_wrapper .title h2{
         font-size: 1.25rem;
     }
     
 }
 
 @media (max-width: 576px) {
 
     /* custom css */ 
     a{
         font-size: .8125rem;
     }
     .main-btn{
         padding:.5rem .75rem;
         font-size: .8125rem;
     }
 
     /* 2 Navbar */ 
     .header_wrapper .navbar-brand img{
         max-width: 6.75rem;
     }
 
     /* banner */ 
     .banner_wrapper .social-icon a img{
         width:2.125rem;
         height:2.125rem; 
     }
 
     /* accordian */ 
    
     .main_menu_wrapper .accordion-body{
         padding:1.25rem;
     }
 
     
 }

